/* Reset default browser styles */
body,
html {
  margin: 0;
  padding: 0;
}

/* Set default font and colors */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #131313;
  color: #fff;
  text-align: center;
}

/* Style the header */
h1 {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 0;
  text-shadow: 2px 2px #333;
}

/* Style the canvas */
canvas {
  background-image: url(background.png);
  border: 5px solid #fff;
  border-radius: 0.5rem;
  box-shadow: 5px 5px #333;
  margin-right: 2rem;
}

/* Style the start game button */
button {
  font-size: 1.5rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #3e8e41;
}

/* Style the game board */
#game {
  margin-top: 2rem;
}




/* Style the instructions button  sad asdasd asdasd asd asdasdas dasdsadasdas*/
#instructions-btn {
  font-size: 1.5rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#instructions-btn:hover {
  background-color: #3e8e41;
}

/* Hide the instructions list by default */
#instructions-list {
  display: none;
  list-style: none;
  padding: 0;
  margin: auto; /* Add this line to center the list */
  max-width: 30rem;
  text-align: left;
}

/* Style the list items */
#instructions-list li {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

/* Style the list bullet point */
#instructions-list li:before {
  content: "•";
  margin-right: 1rem;
  color: #4caf50;
}

/* Style the scoreboard */
#scoreboard {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scoreboard h2 {
  margin: 0;
  font-size: 1.5rem;
}

/* Style the scoreboard table */
table {
  border-collapse: collapse;
  margin: 2rem 0;
  width: 50%;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

th, td {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 1rem;
  text-align: center;
}

th {
  background-color: #4caf50;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #1c1c1c;
}

tr:hover {
  background-color: #333;
}

/* Set the canvas dimensions for mobile devices */
@media screen and (max-width: 378px) {
  canvas {
    width: 100vw;
    height: 400px;
    transform: rotate(90deg);
    transform-origin: top left;
  }
}

